<footer>
  <div class="institution-footer py-2 text-white">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <!-- Logo de la Institución -->
        <div class="col-12 col-md-auto text-center text-md-start mb-2 mb-md-0">
          <a href="https://programas.posgradoupea.edu.bo/inicio" target="_blank" class="institution-link">
            <img src="assets/images/logoposgrado.png" alt="Posgrado UPEA Logo" class="institution-logo">
          </a>
        </div>
        
        <!-- Información de Contacto -->
        <div class="col-12 col-md-auto text-center mb-2 mb-md-0">
          <p class="compact-text mb-0">
            <i class="fas fa-map-marker-alt me-1 text-white-50 small"></i>
            Edificio de Posgrado UPEA Av. Sucre B, al lado del Área Financiera Zona Villa Esperanza - El Alto
          </p>
        </div>

        <!-- Redes Sociales -->
        <div class="col-12 col-md-auto text-center text-md-end">
          <div class="social-wrapper">
            <span class="tiny-label d-block mb-1">nuestras redes sociales</span>
            <div class="social-networks d-flex justify-content-center justify-content-md-end gap-2 mb-2">
              <a href="https://www.facebook.com/posgradoupea2025" target="_blank" class="social-icon-compact facebook" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.youtube.com/c/EstudiaenPosgradoUPEA" target="_blank" class="social-icon-compact youtube" title="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="https://www.instagram.com/posgrado_upea/" target="_blank" class="social-icon-compact instagram" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://x.com/posgradoupea" target="_blank" class="social-icon-compact twitter" title="X">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <a href="https://programas.posgradoupea.edu.bo/inicio" target="_blank" class="web-link-compact">
              <span class="tiny-label">nuestra página principal</span>
              <i class="fas fa-globe ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (showTopFooter) {
    <div class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="">Lorem ipsum</a>
              </li>
              <li>
                <a routerLink="./" class="">Ut facilisis</a>
              </li>
              <li>
                <a routerLink="./" class="">Aenean sit</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="" role="link" tabindex="0">Suspendisse potenti</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>
  }
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer small-copyright p-1 d-flex flex-column flex-md-row justify-content-center align-items-center text-white">
    <div class="content-container align-self-center">
      <p class="m-0">
        <a class="text-white"
        href="http://www.dspace.org/" role="link" tabindex="0">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
        href="https://www.lyrasis.org/" role="link" tabindex="0">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        @if (showCookieSettings) {
        <li>
          <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
            {{ 'footer.link.cookies' | translate}}
          </button>
        </li>
        }
        <li>
          <a class="btn text-white"
             routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
        </li>
        @if (showPrivacyPolicy) {
          <li>
            <a class="btn text-white"
            routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
          </li>
        }
        @if (showEndUserAgreement) {
          <li>
            <a class="btn text-white"
            routerLink="info/end-user-agreement" role="link" tabindex="0">{{ 'footer.link.end-user-agreement' | translate}}</a>
          </li>
        }
        @if (showSendFeedback$ | async) {
          <li>
            <a class="btn text-white"
            routerLink="info/feedback" role="link" tabindex="0">{{ 'footer.link.feedback' | translate}}</a>
          </li>
        }
      </ul>
    </div>
    @if (coarLdnEnabled$ | async) {
      <div class="notify-enabled text-white align-self-end">
        <a class="coar-notify-support-route" routerLink="info/coar-notify-support" role="link" tabindex="0">
          <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
          {{ 'footer.link.coar-notify-support' | translate }}
        </a>
      </div>
    }
  </div>
  <!-- Copyright -->
</footer>