.banner-container {
  width: 100%;
  margin-top: calc(-1 * var(--ds-content-spacing)); /* elimina espacio arriba */
  margin-bottom: 20px; /* espacio abajo para no chocar con buscador */
}

.banner-pc,
.banner-cel {
  width: 100%;
  height: auto;
  display: block; /* elimina espacio inline por defecto de img */
}

.banner-cel {
  display: none;
}

@media (max-width: 992px) {
  .banner-pc {
    display: none;
  }

  .banner-cel {
    display: block;
  }
}